.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #f49967;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
    width: 100%;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.quantityWrapper {
    display: flex;
    gap: 10px;
    font-size: 20px;
}